
.Jumbo{
  background-image: url('../img/Property-managment.jpg');
  background-size: cover;
  background-position: center;
  height: 300px; 
  width: 100%;
}

h1,h3,.lead{
    color: white;
    z-index: 500px;
}

.lead{
    float: right;
    padding-top: 30px;
}

.firstParagraph{
    
    display: block;
    color:rgb(0, 37, 0);
    margin-right: 50%;
    
}
.Monia{
    max-width: 700px;
    max-height: 500px;
    border-radius: 20%;
    display: block;
    float: right;
}